{% graphql g = 'modules/catalog/categories' %}

<div class="card bg-light mb-3">
  <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
  <ul class="nav flex-column flex-nowrap">
    {% for category in g.categories.results %}
      {% if category.parent_id == blank %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="/category/show/{{ category.id }}" data-toggle="collapse" data-target="#id{{ category.id }}">{{ category.properties.name }}</a>
          <div class="collapse" id="id{{ category.id }}" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
              {% for sub_category in g.categories.results %}
                {% if sub_category.parent_id != blank and sub_category.parent_id == category.id %}
                      <li class="nav-item"><a class="nav-link py-0" href="/category/show/{{ sub_category.id }}">{{ sub_category.properties.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="card bg-light mb-3">
  <div class="card-header bg-success text-white text-uppercase">Last product</div>
  <div class="card-body">
    <img class="img-fluid" src="{{ gp.products.results[0].properties.image_url }}" />
    <h5 class="card-title">{{ gp.products.results[0].properties.name }}</h5>
    <p class="card-text">{{ gp.products.results[0].properties.description | truncate: 200 }}</p>
    <p class="bloc_left_price">{{ gp.products.results[0].properties.price }} $</p>
  </div>
</div>