---
slug: /
layout_name: 2col
---
{%- assign name = 'Home' -%}
{%- content_for 'pagetitle' -%}{{ name }}{%- endcontent_for -%}
{% graphql g = 'modules/catalog/products' %}
{% for product in g.products.results %}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="image-wrapper">
        <img class="card-img-top" src="{{ product.properties.image_url }}" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title"><a href="/product/show/{{ product.id }}" title="View Product">{{ product.properties.name }}</a></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="row">
          <div class="col">
            <p class="btn btn-danger btn-block">{{ product.properties.price }} $</p>
          </div>
          <div class="col">
            <a href="#" class="btn btn-success btn-block">To cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
