---
name: create_product
fields:
  properties:
    name:
      validation: { presence: true }
    description:
      validation: { presence: true }
    price:
      validation: { presence: true }
    image_url:
      validation: { presence: true }
    category_id:
      validation: { presence: true }
redirect_to: /
resource: modules/catalog/product
async_callback_actions: {}
---

{% form -%}
  {% graphql g = 'modules/catalog/categories' %}
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input required name="{{ form_builder.fields.properties.name.name }}" id="name" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input required name="{{ form_builder.fields.properties.price.name }}" id="price" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="image_url">Image Url</label>
        <input required name="{{ form_builder.fields.properties.image_url.name }}" id="image_url" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="category_id">Category</label>
        <select name="{{ form_builder.fields.properties.category_id.name }}" id="category_id" class="form-control">
          {% for category in g.categories.results %}
            <option value="{{ category.id }}">{{ category.properties.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" required name="{{ form_builder.fields.properties.description.name }}" id="description" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Add catalog</button>
      </div>
    </div>
  </div>

{% endform -%}
